# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store

lib_gd32
build_gd32

._*
._*.*
sofware_version_id.h
*._gd32

gd32f2*.*
lib-gd32/gd32f2*/*

gd32f3*.*
lib-gd32/gd32f3*/*

gd32f4*.*
lib-gd32/gd32f4*/*

lib-*/src/esp8266/*
lib-*/include/esp8266/*

lib-*/src/h3/*
lib-*/include/h3/*

lib-*/src/linux/*
lib-*/include/linux/*

lib-network/src/apps/*
lib-network/src/emac/*
lib-network/src/net/*

*.bin
do-tftp.sh
udp_send
